# business problem
-  Define the business objectives related to predicting automobile mileage and translate them into data mining goals.

# Objective:
- Gather, explore, and clean data related to automobiles to ensure it is comprehensive and relevant for predicting mileage.
# Constraints:
- Address missing or inconsistent data, and verify the quality and integrity of the dataset, considering variations in mileage due to driving habits and maintenance.

In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_excel(r"C:\Users\shiva\Downloads\mtcars.xlsx")

In [5]:
df.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mpg     32 non-null     float64
 1   cyl     32 non-null     int64
 2   disp    32 non-null     float64
 3   hp      32 non-null     int64
 4   drat    32 non-null     float64
 5   wt      32 non-null     float64
 6   qsec    32 non-null     float64
 7   vs      32 non-null     int64
 8   am      32 non-null     int64
 9   gear    32 non-null     int64
 10  carb    32 non-null     int64
dtypes: float64(5), int64(6)
memory usage: 2.9 KB

In [7]:
df.shape

(32, 11)

In [8]:
df.dtypes

mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

# data pre processing

# EDA

In [9]:
df.isna().sum()

mpg     0
cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    0
vs      0
am      0
gear    0
carb    0
dtype: int64

In [10]:
df.duplicated().sum()

0

# model building

# splting into input and output

In [11]:
df.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [12]:
x=df.drop("mpg",axis =1)
y=df["mpg"]

In [13]:
x

    cyl    disp   hp  drat     wt   qsec  vs  am  gear  carb
0     6   160.0  110  3.90  2.620  16.46   0   1     4     4
1     6   160.0  110  3.90  2.875  17.02   0   1     4     4
2     4   108.0   93  3.85  2.320  18.61   1   1     4     1
3     6   258.0  110  3.08  3.215  19.44   1   0     3     1
4     8   360.0  175  3.15  3.440  17.02   0   0     3     2
5     6   225.0  105  2.76  3.460  20.22   1   0     3     1
6     8   360.0  245  3.21  3.570  15.84   0   0     3     4
7     4   146.7   62  3.69  3.190  20.00   1   0     4     2
8     4   140.8   95  3.92  3.150  22.90   1   0     4     2
9     6   167.6  123  3.92  3.440  18.30   1   0     4     4
10    6   167.6  123  3.92  3.440  18.90   1   0     4     4
11    8   275.8  180  3.07  4.070  17.40   0   0     3     3
12    8   275.8  180  3.07  3.730  17.60   0   0     3     3
13    8   275.8  180  3.07  3.780  18.00   0   0     3     3
14    8  1472.0  205  2.93  5.250  17.98   0   0     3     4
15    8   460.0  215  3.00  5.424  17.82   0   0     3     4
16    8   440.0  230  3.23  5.345  17.42   0   0     3     4
17    4    78.7   66  4.08  2.200  19.47   1   1     4     1
18    4    75.7   52  4.93  1.615  18.52   1   1     4     2
19    4    71.1   65  4.22  1.835  19.90   1   1     4     1
20    4   120.1   97  3.70  2.465  20.01   1   0     3     1
21    8   318.0  150  2.76  3.520  16.87   0   0     3     2
22    8   304.0  150  3.15  3.435  17.30   0   0     3     2
23    8   350.0  245  3.73  3.840  15.41   0   0     3     4
24    8   400.0  175  3.08  3.845  17.05   0   0     3     2
25    4    79.0   66  4.08  1.935  18.90   1   1     4     1
26    4   120.3   91  4.43  2.140  16.70   0   1     5     2
27    4    95.1  113  3.77  1.513  16.90   1   1     5     2
28    8   351.0  264  4.22  3.170  14.50   0   1     5     4
29    6   145.0  175  3.62  2.770  15.50   0   1     5     6
30    8   301.0  335  3.54  3.570  14.60   0   1     5     8
31    4   121.0  109  4.11  2.780  18.60   1   1     4     2

In [14]:
y

0     21.0
1     21.0
2     22.8
3     21.4
4     18.7
5     18.1
6     14.3
7     24.4
8     22.8
9     19.2
10    17.8
11    16.4
12    17.3
13    15.2
14    10.4
15    10.4
16    14.7
17    32.4
18    30.4
19    33.9
20    21.5
21    15.5
22    15.2
23    13.3
24    19.2
25    27.3
26    26.0
27    30.4
28    15.8
29    19.7
30    15.0
31    21.4
Name: mpg, dtype: float64

# spliting into train and test

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=23)

In [17]:
x_train.shape

(22, 10)

In [18]:
x_test.shape

(10, 10)

In [19]:
y_train.shape

(22,)

In [20]:
y_test.shape

(10,)

# KNN ,LINEAR REGRESSION ,SVM ,DT

In [21]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error,r2_score

In [22]:
knn=KNeighborsRegressor()
knn.fit(x_train,y_train)
y_pred=knn.predict(x_test)
print(np.sqrt(mean_squared_error(y_test,y_pred)))

2.567006038169759

# linear regression

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
lr=LinearRegression()
lr.fit(x_train,y_train)
y_prediction=lr.predict(x_test)
print(np.sqrt(mean_squared_error(y_test,y_prediction)))

4.382383178755165

# svm

In [25]:
from sklearn.svm import SVR

In [26]:
sv=SVR()
sv.fit(x_train,y_train)
y_prediction=sv.predict(x_test)
print(np.sqrt(mean_squared_error(y_test,y_prediction)))

3.5385808529807674

# decision tree

In [27]:
from sklearn.tree import DecisionTreeRegressor

In [28]:
dt=DecisionTreeRegressor()
dt.fit(x_train,y_train)
y_prediction=dt.predict(x_test)
print(np.sqrt(mean_squared_error(y_test,y_prediction)))

3.1082149217838833

# predict new data

In [29]:
df.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [30]:
lr.predict([[7,170.0,120,4.21,2.990,15.46,2,0,5,6]])[0]

C:\Users\shiva\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

22.768979958430336

In [31]:
lr.coef_

array([ 1.55866848e+00,  9.04139162e-04, -7.45325937e-03,  3.80968692e+00,
       -2.71518891e+00,  6.46146428e-01, -5.08322711e-01,  3.03411416e-01,
        4.72531936e+00, -2.04628406e+00])

In [32]:
lr.intercept_

-16.249872699673062

In [33]:
cyl=7
disp=170.0
hp=120
drat=4.21
wt=2.990
qsec=15.46
vs=2
am=2
gear=5
carb=6
mpg= (1.55866848e+00*cyl  + 9.04139162e-04* disp -7.45325937e-03 * hp + 3.80968692e+00 * drat -2.71518891e+00 * wt +
      6.46146428e-01 * qsec -5.08322711e-01 * vs + 3.03411416e-01 * am + 4.72531936e+00 * gear
      -2.04628406e+00* carb -16.249872699673062)
print(mpg)

22.76897991264694

In [34]:
 import pickle

In [38]:
pickle.dump(lr,open("ln.pkl","wb"))

In [39]:
car=pickle.load(open("ln.pkl","rb"))